{% extends "base.html" %}

{% block content %}
  <h1>
    TODO List
    <a href="{% url 'todo_list:task-create' %}">
      <input type="submit" value="Add task">
    </a>
  </h1>
  <ul>
    {% if task_list %}
      {% for task in task_list %}
        <li>
          {{ task.content }}
          {% if task.is_done %}
            Done
            <a href="{% url 'todo_list:task-status' pk=task.id %}">
              <input type="submit" value="Undo">
            </a>
          {% else %}
            Not done
            <a href="{% url 'todo_list:task-status' pk=task.id %}">
              <input type="submit" value="Complete">
            </a>
          {% endif %}
        </li>
        <li>
          Created: {{ task.datetime }}
          {% if task.deadline %}
            Deadline: {{ task.deadline }}
          {% endif %}
        </li>
        <li>
          Tags: {{ task.tags.name }}
          <a href="{% url 'todo_list:task-update' pk=task.id %}">Update</a>
          <a href="{% url 'todo_list:task-delete' pk=task.id %}">Delete</a>
        </li>
      {% endfor %}
    {% else %}
      <p>There is no task now</p>
    {% endif %}
  </ul>
{% endblock %}